@model OrganizationCreateRequest

@{
    ViewBag.Title = "Create or Join Organization";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm border-0">
        <div class="card-header">
            <h5 class="card-title text-center fw-bold mb-0">Create an Organization</h5>
        </div>
        <div class="card-body">
            <div class="mb-3 mx-5">As an admin, you can create and manage an organization.</div>

            <form role="form" asp-controller="Organization" asp-action="Create">

                <div class="row mb-3 align-items-center">
                    <div class="col-md-6">
                        <label asp-for="Name" class="fw-bold"></label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Name" class="form-control" placeholder="Organization name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-6">
                        <label asp-for="Address" class="fw-bold"></label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Address" class="form-control" placeholder="Organization address" />
                        <span asp-validation-for="Address"></span>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-6">
                        <label asp-for="Website" class="fw-bold"></label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Website" class="form-control" placeholder="Organization website" />
                        <span asp-validation-for="Website"></span>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-6">
                        <label asp-for="Email" class="fw-bold"></label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Email" class="form-control" placeholder="Organization email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-6">
                        <label asp-for="PhoneNumber" class="fw-bold"></label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Organization phone number" />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-primary">Create Organization</button>
                </div>

            </form>

            <div class="mb-3 mx-5">
                Already have an organization to join?
                <br />
                Please inform the organization admin to add you.
            </div>
        </div>
    </div>
</div>